<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddp.library.crash.analytics"
    android:versionCode="1000"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- Application needs this to run -->

</manifest>
